/*
Theme Name: Neve Child
Description: Child theme for Neve. You can now safely customize it and not risk losing your customizations.
Author: WPTurbo
Author URI: https://wpturbo.dev
Template: neve
Version: 1.0
Text Domain: neve-child
*/